<html lang="en-gb">
<%- include('_head') -%>
    <%- include('_header') -%>


<body>
    <main id="user-detail">
        
        <img class="cover-pic" src="https://www.shutterstock.com/image-photo/day-night-time-change-concept-600nw-2116031501.jpg">

        <div class="user-info">
            <img class="profile-pic" src="https://i.redd.it/15gghew7wc581.jpg">
            <div>
            <p id="real-name">
                <%= name %>
            </p>
            <p class="bold-text" id="username">
                <%= username %>
            </p>
            <p class="light-text" id="user-email">
                <%= email %>
            </p>
        </div>

    </main>

</body>
<%- include('_footer') -%>

</html>